# Node modules
node_modules/
frontend-propre/node_modules/

# Python
__pycache__/
*.py[cod]
*.pyc
venv/
env/

# Environnement
.env
*.env
!.env.example

# Media
media/
mon_projet_django_propre/media/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.local